{% extends "base.html" %}
{% block content %}


    <div class="row">
        <div class="homeText">
            <h1>Transaction</h1>
        </div>
        <div class="col-8">
            <hr>
            <strong>T</strong>ransaction is considered to be one of the most reliable techniques within formal and
            informal financial institutions.
            electronic remittance transfer has become one of the most popular method of sending and receiving money
            across the world.


            <br>
            <br>
            As the needs of investors and financial service users become more complex, there is a demand for effective
            tools to simplify the processes and transactions carried out by end-users. It is inevitable that financial
            institutions would have to increase the number of digitized services and offerings, given a rise in the use
            of automated services.

            <br>
            <br>
            Implementing technology in the financial industry is a necessity for the survival of businesses as customers
            seek lower-cost alternatives to traditional financial services. Fintech companies have led the revolution in
            transforming the financial sector by digitalizing the end-client’s transactional eco-system.

        </div>


    </div>

    </div>
    </div>


{% endblock %}

